{
  "branches": [
    "main",
    "feature/ci-semantic-release"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    {
      "preset": "conventionalcommits",
      "releaseRules": [
        {
          "type": "refactor",
          "release": "patch"
        }
      ]
    },
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/linux/*.zip",
            "label": "Linux release"
          },
          {
            "path": "build/windows/*.zip",
            "label": "Windows release"
          }
        ]
      }
    ]
  ]
}